<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clouds</key>
	<array>
		<string>asperitas</string>
		<string>contrail</string>
		<string>noctilucent</string>
		<string>cirrus</string>
		<string>cumulus</string>
	</array>
</dict>
</plist>
